<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>Registrar's Office</title>
    </head>
    <body>
        <div class="container">
            <h1>{{single_student.getName}}</h1>
            <p><a href="/students/{{single_student.getId}}/edit">Edit</a></p>
            <form action="/students/{{single_student.getId}}" method="post">
                <input name="_method" type="hidden" value="delete">
                <button type="submit">Delete This Student</button>
            </form>

            <h3>Add course to student:</h3>
            <form action="/students/{{single_student.getId}}" method="post">
                <input id="current_student_id" name="current_student_id" type="hidden" value="{{single_student.getId}}">
                <label>Select a course</label>
                <select id="course_id" name="course_id" type="text">
                    {% for current_course in all_courses %}
                        <option value="{{current_course.getId}}">{{current_course.getName}}</option>
                    {% endfor %}
                </select>
                <button type="submit">Add</button>
            </form>

            <h3>Student Schedule:</h3>
            {% for course in student_courses %}
                <p>{{course.getName}}</p>
            {% endfor %}
        </div>
    </body>
</html>
